table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr:hover {background-color: #dfdfdf;}

tr:nth-child(even) {background-color: #f2f2f2;}

tab1 { padding-left: 4em; }
tab2 { padding-left: 8em; }
