<html>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>

    <head></head>
    <body>
        {% block navbar %}
            <ul>
                {% for item in nav.top %}
                <li class="{{ 'active' if item.is_active else '' }}"
                    style="{{ 'float:right' if item.label == 'About' else '' }}">
                    {{ item }}
                </li>
                {% endfor %}
            </ul>
        {% endblock %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>